<div id="content">
    <abp-modal-header  [title]="title + ' Template'" (onCloseClick)="dialogRef.close()"></abp-modal-header>
<div class="p-3 background-card" id="temp">
    <div class="d-flex">
        <button class="btn btn-primary mr-2" >
            <i class="fa-solid fa-pen-to-square"></i>
            Edit Template
        </button>
        <button class="btn btn-primary" (click)="printInvoiceToPDF()">
            <i class="fa fa-file-pdf"></i>
            Print Invoice
        </button>
    </div>
    <div class="card mb-0 mt-2" style="max-height: 90vh;overflow-y: auto;" *ngIf="html">
        <!-- <div id="bodyMess" class="html-container" [innerHtml]="sanitizer.bypassSecurityTrustHtml(html)">
        </div> -->
          <div id="bodyMess" class="html-container" style="display: flex;justify-content: center;align-items: center;"
           [innerHtml]="sanitizer.bypassSecurityTrustHtml(html)">
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-action mr-2"
        (click)="dialogRef.close()">
        Close
    </button>
</div>
</div>
