<form class="form-horizontal" autocomplete="off" #timesheetForm="ngForm" novalidate>
    <abp-modal-header title="Choose date to set auto close"
        (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group col-md-12 ">
            <label for="criteriaName col-form-label" class="mr-2">
                {{ 'Close date' | localize }}:
            </label>
            <mat-form-field appearance="outline" class="w-50">
                <input matInput
                placeholder="Choose a day"
                [matDatepicker]="picker"
                name="exchangeDate"
                [(ngModel)]="startDate"
                [min]="minDate"
                #timeStart="ngModel"
                (ngModelChange)="onDateChange()"
                [readonly]="true"
                (click)="picker.open()"
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <span>(Not required)</span>
        </div>

    </div>
    <div align="end" class="mat-dialog-actions" mat-dialog-actions="">
        <button class="btn btn-default cancel-banks" mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" class="saving-btn" mat-button (click)="SaveAndClose()">Save</button>
    </div>
</form>
