<section class="content px-2 pt-2">
    <div class="container-fluid">
        <div class="row mb-4 card">
            <div class="col-12">
                <nav mat-tab-nav-bar>
                    <!-- <a [ngClass]="currentUrl.includes('resourcemanagement')?'active':''" mat-tab-link (click)="routingResourceTab()">
                        Resource Management 
                    </a>
                    <a [ngClass]="currentUrl.includes('mistone')?'active':''" mat-tab-link (click)="routingMilestoneTab()">
                        Milestone
                    </a> -->
                    
                    
                </nav>
                
                <router-outlet></router-outlet>
            </div>
            
            


        </div>
    </div>
</section>
