<section class="content px-2 pt-2">
    <div class="container-fluid">
        <div class="row mb-4 card">
            <div class="col-12">
                <nav mat-tab-nav-bar>
                    <a [ngClass]="currentUrl.includes('weekly-report-tab')?'active':''"  mat-tab-link (click)="routingWeeklyReportTab()">
                        Weekly Report
                    </a>
                    <a [ngClass]="currentUrl.includes('request-resource-tab')?'active':''"  mat-tab-link (click)="routingRequestResourceTab()">
                        Request Resource
                    </a>
                    <a [ngClass]="currentUrl.includes('available-resource-tab')?'active':''"  mat-tab-link (click)="routingAvailableResourceTab()">
                        Available Resource
                    </a>
                </nav>
                <router-outlet></router-outlet>
            </div>


        </div>
    </div>
</section>
