.file-download {
  color: #007bff;
  cursor: pointer;
}
.file-download:hover {
  color: blue;
}
.project-timesheet td{
  vertical-align: middle;
}
::ng-deep #timesheet-detail .filter-pm .mat-form-field{
  display: block;
}
::ng-deep #timesheet-detail .btn-search{
  height: fit-content;
}

#timesheet-detail .bd-red{
  border: 1px solid red;
}

#timesheet-detail .bg-tag{
  background-color: #820505;
}
#timesheet-detail .btn-upload{
  background-color: #F9F8A8;
}
.expand-billinfo{
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.billinfo{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
::ng-deep #title-page-tsdetail .breadcrumb-item+.breadcrumb-item::before{
  content: '>';
}
::ng-deep mat-checkbox .mat-checkbox-layout{
  margin-bottom: 10px;
}

button.special{
  min-height: auto;
  height: auto;
  line-height: 30px;
  overflow: inherit;
}
button.special span{
  display: block;
  padding-left: 25px;
  font-size: 14px;
}
#timesheet-detail ::ng-deep .mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
  margin-top: auto;
}
