<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>Timesheet Detail</h1>
            </div>
            <div class="col-6 text-right">
                <span *ngIf="createdInvoice==true" class="mr-2" style="color: red;font-weight: 800;">Timesheet đã được tạo Invoice</span>
                <button *ngIf="permission.isGranted(Timesheet_TimesheetProject_Create)" (click)="createTimeSheet()" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                    Create
                </button>
                <button *ngIf="createdInvoice==false && permission.isGranted(Timesheet_TimesheetProject_CreateInvoice)" (click)="createInvoice()" class="btn btn-success ml-3">
                    <i class="fas fa-file-invoice-dollar"></i>
                    Create Invoice
                </button>
                
            </div>

        </div>
    </div>
</section>
<section class="content px-2">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" name="keyword" placeholder="Search" [(ngModel)]="searchText"
                        (keyup.enter)="getDataPage(1)" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-default" (click)="checkAddFilter()">
                            <i class="fas" [class.fa-angle-up]="advancedFiltersVisible"
                                [class.fa-angle-down]="!advancedFiltersVisible"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="advancedFiltersVisible" class="mb-0 mt-1">
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="mb-0">
                                    <div> 
                                        <div *ngFor="let item of filterItems; let i = index">
                                            <app-filter [item]="item" (emitChange)="onEmitChange($event, i)"
                                                (deleteDataFilter)="deleteFilterItem(i)" [inputFilters]="FILTER_CONFIG">
                                            </app-filter>
                                        </div>
                                        <i style="padding: 0;" class="fas fa-plus-circle ml-3"
                                            (click)="addFilter()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                    <div class="card-body table-responsive p-4">
                    <table style="border-collapse: collapse;" class="table table-hover text-nowrap">
                        <thead class="bg-light">
                            <tr>
                                <th class="stt">#</th>
                                <th>Project</th>
                                <th>PM</th>
                                <th>Khách hàng</th>
                                <th>Note</th>
                                <th>Thông tin Bill dự án</th>
                                <th>File</th>
                                <th *ngIf="isActive">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of TimesheetDetaiList |paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              }; let i = index">
                                <td class="text-center"><span>{{ i +1 }}</span></td>
                                <td class="text-center">{{item.projectName}}</td>
                                <td class="text-left"  >
                                    <div style="width: 300px;">
                                        <app-user-info [userData]="{fullName:item.pmFullName,branch:item.pmBranch,
                                            userType:item.pmUserType,emailAddress:item.pmEmailAddress,avatarPath:item.pmAvatarPath}"></app-user-info>
                                    </div>
                                   
                                </td>
                                <td class="text-center">{{item.clientName}}</td>
                                <td style="white-space: normal; min-width: 180px;">{{item.note}}</td>
                                <td class="text-left">
                                    <div [innerHtml]="item.projectBillInfomation"></div>
                                </td>
                                <td style="white-space: normal; min-width: 200px;">
                                    <span class="file-download">
                                        <span (click)="downloadFile(item)">{{item.file}}</span>
                                    </span>
                                    <span *ngIf="item.file !==null" style="margin-left: 5px;">
                                        <i class="fas fa-times fa-lg ml-1" (click)="DeleteFile(item)"></i>
                                    </span>
                                </td>
                                <td *ngIf="isActive" class="text-center">
                                    <button *ngIf="permission.isGranted(Timesheet_TimesheetProject_UploadFileTimesheetProject)"  class="btn btn-sm bg-success mr-1" (click)="importExcel(item.id)"
                                        #importFileBtn>
                                        <i class="fas fa-upload"></i>
                                        Import File
                                    </button>
                                    <button *ngIf="permission.isGranted(Timesheet_TimesheetProject_Update)" class="btn btn-sm bg-secondary mr-1"
                                        (click)="editTimesheet(item);$event.stopPropagation()">
                                        <i class="fas fa-pencil-alt"></i>
                                        Edit
                                    </button>
                                    <button *ngIf="permission.isGranted(Timesheet_TimesheetProject_Delete)" class="btn btn-sm bg-danger"
                                        (click)="delete(item);$event.stopPropagation()" #deleteBtn>
                                        <i class="fas fa-trash"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-light border-top">
                    <div class="row">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <button class="btn btn-secondary mb-2" (click)="refresh()">
                                <i class="fas fa-redo-alt"></i>
                            </button>
                            <mat-form-field style="width: 20%;margin-left: 30px;">
                                <mat-label>Number items</mat-label>
                                <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                                    <mat-option [value]="5">
                                        5
                                    </mat-option>
                                    <mat-option [value]="10">
                                        10
                                    </mat-option>
                                    <mat-option [value]="20">
                                        20
                                    </mat-option>
                                    <mat-option [value]="50">
                                        50
                                    </mat-option>
                                    <mat-option [value]="100">
                                        100
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4 col-12 text-center">
                            <p class="mb-0 my-2">
                                {{ "TotalRecordsCount" | localize: totalItems }}
                            </p>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="float-sm-right m-auto">
                                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</section>