<section class="content-header pb-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6" id="title-page-tsdetail" style="font-size: 1.5rem;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="app/Timesheet">Timesheets</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{titleTimesheet}}</li>
          </ol>
        </nav>
      </div>
      <div class="col-6 text-right">
        <button 
          *ngIf="permission.isGranted(Timesheets_TimesheetDetail_ExportInvoice)"
          [disabled]="listExportInvoice?.length <= 0"
          (click)="exportInvoiceClient()" 
          class="btn bg-success mr-2"
        >
          <i class="fa fa-file"></i>
          Export Invoice
        </button>
        <button 
          *ngIf="permission.isGranted(Timesheets_TimesheetDetail_ExportInvoiceForTax)"
          [disabled]="listExportInvoice?.length <= 0"
          (click)="exportInvoiceForTax()" 
          class="btn bg-info mr-2"
        >
        <i class="fa fa-file-export"></i>
          Export Invoice For Tax
        </button>
        <button *ngIf="permission.isGranted(Timesheets_TimesheetDetail_AddProjectToTimesheet)" (click)="createTimeSheet()"
          class="btn bg-blue">
          <i class="fa fa-plus-square"></i>
          Create
        </button>
      </div>
    </div>
  </div>
</section>
<section class="content px-2"  id="timesheet-detail">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row g-3">
          <div class="input-group col-8 pt-1">
            <div class="input-group-prepend">
              <button type="button" class="btn bg-blue btn-search" (click)="searchProjectTS();">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <input type="text" class="form-control" name="keyword" placeholder="Search by Project name, PM Name, PM Email, Client Name" [(ngModel)]="searchText"
              (keyup.enter)="searchProjectTS()" />
            <div class="input-group-append">
              <button type="button" class="btn btn-default btn-search" (click)="checkAddFilter()">
                <i class="fas" [class.fa-angle-up]="advancedFiltersVisible"
                  [class.fa-angle-down]="!advancedFiltersVisible"></i>
              </button>
            </div>
          </div>
          <div class="col-2">
            <div class="row filter-pm">
                <div class="col-12">
                    <!-- <label class="label-pm pr-2 mt-3 ">PM:</label> -->
                    <mat-form-field appearance="outline">
                        <mat-label>PM</mat-label>
                        <mat-select [(ngModel)]="pmId" name="pmId" placeholder="select a PM" [disabled]="!isEnablePMFilter()"
                            (selectionChange)="refresh()">
                            <mat-form-field class="w-100 px-3"
                                style="position: sticky; top: 0; z-index: 2; background-color: white;">
                                <input matInput [(ngModel)]="searchPM" name="searchPMName" placeholder="Search"
                                    #search (keydown)="$event.stopPropagation()">{{search.focus()}}
                            </mat-form-field>
                            <mat-option [value]="-1">All</mat-option>
                            <mat-option [value]="meId">Me</mat-option>
                            <mat-option
                                *ngFor="let data of pmList | listFilter:  'fullName' : searchPM : 'emailAddress' : 'surname' : 'name'"
                                [value]="data.id">
                                {{data.fullName}} - ({{data.emailAddress}})
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
          </div>
          <div class="col-2">
            <div class="row filter-pm">
                <div class="col-12">
                    <!-- <label class="label-pm pr-2 mt-3 ">PM:</label> -->
                    <mat-form-field appearance="outline">
                        <mat-label>Client</mat-label>
                        <mat-select [(ngModel)]="clientId" placeholder="select a Client"
                            (selectionChange)="refresh()">
                            <mat-form-field class="w-100 px-3"
                                style="position: sticky; top: 0; z-index: 2; background-color: white;">
                                <input matInput [(ngModel)]="searchClient" name="searchClient" placeholder="Search" (keydown)="$event.stopPropagation()">{{search.focus()}}
                            </mat-form-field>
                            <mat-option [value]="-1">All</mat-option>
                            <mat-option
                                *ngFor="let data of clientList | listFilter:  'name' : searchClient"
                                [value]="data.id">
                                {{data.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="advancedFiltersVisible" class="mb-0 mt-1">
        <div class="card-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-md-12 col-xl-12">
                <div class="mb-0">
                  <div>
                    <div *ngFor="let item of filterItems; let i = index">
                      <app-filter [item]="item" (emitChange)="onEmitChange($event, i)"
                        (deleteDataFilter)="deleteFilterItem(i)" [inputFilters]="FILTER_CONFIG">
                      </app-filter>
                    </div>
                    <i style="padding: 0" class="fas fa-plus-circle ml-3" (click)="addFilter()"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-body table-responsive px-4 pb-1">
        <div class="fixTableHead">
          <table style="border-collapse: collapse" class="table table-hover text-nowrap project-timesheet">
            <thead class="bg-light">
              <tr style="border: none">
                <th class="stt">#</th>
                <th>Project</th>
                <th>PM</th>
                <th>Note</th>
                <th>Bill Info</th>
                <th>Timesheet File</th>
                <th>Done</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr (mouseenter)="mouseEnter(item)" (mouseleave)="mouseLeave(item)" *ngFor="
                  let item of TimesheetDetaiList
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        };
                  let i = index
                " (contextmenu)="showActions($event, item)">
                <td class="text-center">
                  <span>{{ i + 1 }}</span>
                </td>
                <td style="white-space: normal; min-width: 165px">
                  <b>{{ item.projectName }}</b>
                  <p>{{item.clientName}}</p>
                </td>
                <td class="text-left">
                  <div>
                    <app-user-info [userData]="{
                        fullName: item.pmFullName,
                        branch: item.pmBranch,
                        userType: item.pmUserType,
                        emailAddress: item.pmEmailAddress,
                        avatarPath: item.pmAvatarPath
                      }">
                    </app-user-info>
                  </div>
                </td>
                <td style="
                    white-space: pre-line;
                    word-wrap: break-word;
                    min-width: 190px;
                    max-width: 350px;
                  ">
                  {{ item.note }}
                </td>
                <td style="cursor: pointer" class="text-left bill">
                  <div *ngIf="item.projectBillInfomation" style="
                      word-break: break-all;
                      white-space: pre-line;
                      min-width: 290px;
                    ">
                    <p *ngFor="let bill of item.projectBillInfomation" 
                      (click)="bill.isShow = !bill.isShow" 
                      [ngClass]="bill.isShow?'billinfo':'expand-billinfo'" 
                      style="margin-bottom: 0;"
                    >
                      <label >{{bill.fullName}} -</label>
                      {{bill.billRole}}
                      <label >
                        {{permission.isGranted(Timesheets_TimesheetDetail_ViewBillRate)?'- '+
                        covertMoneyType(bill.billRate)+item.currency+getChargeType(item.chargeType):""}}
                      </label>
                      - <label>{{bill.workingTime}}d</label>
                      {{bill.description?'- '+bill.description:''}}
                    </p>
                    </div>
                </td>
                <td class="" style="
                    white-space: normal;
                    max-width: 230px;
                    min-width: 200px;
                  ">
                  <span class="file-download">
                    <span (click)="downloadFile(item)">{{ item.file }}</span>
                  </span>
                  <span *ngIf="item.file !== null" style="margin-left: 5px">
                    <i class="fas fa-times fa-lg ml-1" (click)="DeleteFile(item)"></i>
                  </span>
                  <div class="text-center">
                    <button *ngIf="permission.isGranted(Timesheets_TimesheetDetail_UploadTimesheetFile) && 
                      item.file == null" 
                      [matTooltip]="(item.requireTimesheetFile && !item.hasFile)?'Required File':''" 
                      class="btn btn-success btn-sm" 
                      [ngClass]="requiredFile(item)" 
                      (click)="importExcel(item.id)" #importFileBtn
                    >
                      <i class="fas fa-upload mr-1"></i> Upload
                    </button>
                  </div>
                </td>
                <td>
                  <button class="btn">
                    <i *ngIf="item.isComplete" style="color: green" class="fas fa-check fa-2x"></i>
                  </button>
                </td>
                <td  class="text-center" style="vertical-align: middle">
                  <mat-checkbox
                    *ngIf="permission.isGranted(Timesheets_TimesheetDetail_ExportInvoice) || permission.isGranted(Timesheets_TimesheetDetail_ExportInvoiceForTax)"
                    #checkboxExportInvoice
                    class="checkbox-exportInvoice"
                    [value]="item"
                    (change)="addProjectToExport($event)"
                  ></mat-checkbox>
           
                  <button  mat-button [matMenuTriggerFor]="menu" >
                    <i class="fas fa-bars fa-lg" style="margin-top:1px"></i>
                  </button>
                  <mat-menu #menu="matMenu" class="p-2">
                    <button 
                      *ngIf="permission.isGranted(Timesheets_TimesheetDetail_UpdateBill) && isActive"
                      class="btn mat-menu-item w-100" 
                      (click)="viewBillDetail(item, updateAction.UpdateBillInfo)" 
                      #importFileBtn
                    >
                      <i class="fas fa-edit"></i>
                      Update Bill
                    </button>
                    <button
                    *ngIf="permission.isGranted(Timesheets_TimesheetDetail_UpdateTimsheet) && isActive"
                      class="btn mat-menu-item w-100" 
                      (click)="viewBillDetail(item, updateAction.UpdateTimesheet)" 
                      #updateTs
                    >
                      <i class="fas fa-edit"></i>
                      Update TS
                    </button>
                    <button *ngIf="
                        permission.isGranted(
                          Timesheets_TimesheetDetail_ExportInvoice
                        )
                      " (click)="exportInvocie(item)" class="btn mat-menu-item w-100">
                      <i class="fas fa-file-invoice-dollar mr-1"></i>
                      Export Invoice
                    </button>
                    <button *ngIf="permission.isGranted(Timesheets_TimesheetDetail_ExportInvoiceForTax)" 
                        (click)="exportQuickInvoiceForTax(item)" class="btn mat-menu-item w-100">
                        <i class="fas fa-file-export mr-1"></i>
                        Export Invoice For Tax
                    </button>
                    <button  *ngIf="
                    permission.isGranted(Timesheets_TimesheetDetail_UpdateNote) && isActive
                  " 
                      class="btn mat-menu-item w-100" (click)="editTimesheet(item);"
                    >
                      <i class="fas fa-pencil-alt mr-1"></i>
                      Note
                    </button>
                    <button *ngIf="
                        permission.isGranted(Timesheets_TimesheetDetail_Delete) && isActive
                      " class="btn mat-menu-item w-100" (click)="delete(item);" #deleteBtn>
                      <i class="fas fa-trash mr-1"></i>
                      Delete
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer bg-light border-top">
        <div class="row">
          <div class="col-sm-4 col-12 text-sm-left text-center">
            <button class="btn btn-secondary mb-2" (click)="getDataPage(1)">
              <i class="fas fa-redo-alt"></i>
            </button>
            <mat-form-field style="width: 20%; margin-left: 30px">
              <mat-label>Number items</mat-label>
              <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                <mat-option [value]="5"> 5 </mat-option>
                <mat-option [value]="10"> 10 </mat-option>
                <mat-option [value]="20"> 20 </mat-option>
                <mat-option [value]="50"> 50 </mat-option>
                <mat-option [value]="100"> 100 </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 col-12 text-center">
            <p class="mb-0 my-2">
              {{ "TotalRecordsCount" | localize: totalItems }}
            </p>
          </div>
          <div class="col-sm-4 col-12">
            <div class="float-sm-right m-auto">
              <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
              </abp-pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>