<form class="form-horizontal" autocomplete="off" #resourceRequestForm="ngForm" novalidate>
    <abp-modal-header *ngIf="data.command=='create'" title="Create new request resource"
        (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <abp-modal-header *ngIf="data.command=='edit'" title="Edit request: {{title}}" (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <div class="modal-body">
        <!-- <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Name
            </label>
            <div class="col-md-9">
                <input placeholder="request name" type="text" class="form-control" name="name" minlength="2"
                    maxlength="1024" [(ngModel)]="resourceRequestDto.name" required #nameEl #name="ngModel" />
                <abp-validation-summary [control]="name" [controlEl]="nameEl">
                </abp-validation-summary>
            </div>
        </div> -->

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Project:
            </label>
            <div class="col-md-9">
                <mat-form-field class="mt-2" appearance="outline" style="width: 250px;">
                    <mat-select name="projectId" #projectIdValid="ngModel" placeholder="Select project" required
                        [(ngModel)]="resourceRequestDto.projectId">
                        <mat-form-field class="w-100 px-3 "
                            style="position: sticky; top: 0; z-index: 2; background-color: white;">
                            <input matInput [(ngModel)]="searchProject" name="searchProjectName"
                                (keydown)="$event.stopPropagation()" placeholder="Search" #search>{{search.focus()}}
                        </mat-form-field>
                        <ng-container *ngFor="let project of listProject | listFilter: 'name' : searchProject">

                            <mat-option [value]="project.id">
                                {{project.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="projectIdValid.hasError('required') && projectIdValid.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Skill:
            </label>
            <div class="col-md-9 ">
                <mat-form-field appearance="outline" style="width: 250px;">
                    <mat-select placeholder="skill" multiple [(ngModel)]="resourceRequestDto.skillIds" name="SkillList" #skill="ngModel">
                        <mat-option *ngFor="let skill of listSkill" [value]="skill.id">
                            {{skill.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="skill.hasError('required') && skill.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Level:
            </label>
            <div class="col-md-9">
                <mat-form-field class="mt-2" appearance="outline" style="width: 250px;">
                    <mat-select name="userLevel" #userLevelValid="ngModel" placeholder="Select Level" required
                        [(ngModel)]="resourceRequestDto.level">
                        <ng-container *ngFor="let userLevel of userLevelList">
                            <mat-option [value]="APP_ENUM.UserLevel[userLevel]">
                                {{userLevel}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="userLevelValid.hasError('required') && userLevelValid.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>

        <div class="form-group row required" *ngIf="data.command == 'create'">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Quantity:
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" style="width: 250px;">
                    <input matInput placeholder="Quantity" name="quantity"
                        #quantity="ngModel" [(ngModel)]="resourceRequestDto.quantity" required>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="quantity.hasError('required') && quantity.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Priority:
            </label>
            <div class="col-md-9">
                <mat-form-field class="mt-2" appearance="outline" style="width: 250px;">
                    <mat-select name="priority" #priorityValid="ngModel" placeholder="Select priority" required
                        [(ngModel)]="resourceRequestDto.priority">
                        <ng-container *ngFor="let priority of priorityList">
                            <mat-option [value]="APP_ENUM.Priority[priority]">
                                {{priority}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-error class="mt-1" *ngIf="priorityValid.hasError('required') && priorityValid.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error> -->
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                Time Need:
            </label>
            <div class="col-md-9">
                <mat-form-field appearance="outline" style="width: 250px;">
                    <input matInput placeholder="Time need" [matDatepicker]="picker" name="startTime" name="timeNedd"
                        #timeNeed="ngModel" [(ngModel)]="resourceRequestDto.timeNeed" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-error class="mt-1" *ngIf="timeNeed.hasError('required') && timeNeed.touched"
                    style="font-size: 13px;">
                    This field is required
                </mat-error>
            </div>
        </div>
        <div class="form-group row ">
            <label class="col-md-3 col-form-label" for="tenancyName">
                HR/DM Note:
            </label>
            <div class="col-md-9">
                <textarea rows="3" cdkTextareaAutosize #autosize="cdkTextareaAutosize" placeholder="Enter note"
                    name="note" type="text" class="form-control" name="DMnote" [(ngModel)]="resourceRequestDto.dmNote"
                    #nameEl #name="ngModel"></textarea>
                <!-- <abp-validation-summary [control]="name" [controlEl]="nameEl">
                    </abp-validation-summary> -->
            </div>
        </div>

    </div>
    <div align="end" class="row justify-content-between">
        <button class="btn btn-default" mat-dialog-close>Cancel</button>
        <button class="btn btn-primary" [disabled]="!resourceRequestForm.valid || isLoading"
            (click)="SaveAndClose()">Save</button>
    </div>
</form>