/* mat-list-item:hover{
    background-color: aliceblue;
} */

.list-project:hover {
  background-color: #eaebec;
}
::ng-deep
  .mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
  margin-top: 80%;
}
/* .project-list {
  height: 150px;
  padding-top: 20px;
} */
.project-list {
    /* width: 100%; */
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
}
::ng-deep .mat-list{
padding: 10px;
}
::ng-deep .mat-list-item{
    padding: 10px;
}
.projectActive{
    background-color: #dce1e6;
}

