th,
td {
  text-align: center;
}
.disablePage ul li {
  cursor: not-allowed;
}

::ng-deep .mat-form-field-outline {
  background: white;
}
::ng-deep .mat-checkbox-layout {
  margin-top: 10px;
}
.submit-btn:disabled i {
  color: gray !important;
}
.btnCreate {
  margin-bottom: 10px;
}
i {
  margin-right: 5px;
}




