td {
  vertical-align: middle;
}
::ng-deep .stars-line {
  z-index: 0;
}
.pool-table i {
  color: #686868;
  font-size: 18px;
}
::ng-deep .mat-tooltip {
  font-size: 13px;
}
.pool-table i:hover {
  color: black !important;
}
