<form class="form-horizontal" autocomplete="off" #timesheetForm="ngForm" novalidate>
    <abp-modal-header title="Create/Edit" (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="projectName">
                {{ 'Name' | localize }}:
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="projectName" id="projectName" 
                    required [(ngModel)]="phase.name" #projectNameModel="ngModel" #projectNameEl />
                <abp-validation-summary [control]="projectNameModel" [controlEl]="projectNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="projectName">
                {{ 'Year' | localize }}:
            </label>
            <div class="col-md-9">
                
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="projectName">
                {{ 'ParentName' | localize }}:
            </label>
            <div class="col-md-9">
                
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="projectName">
                {{ 'Is Active' | localize }}:
            </label>
            <div class="col-md-9">
                <mat-checkbox name="isActive" class="example-margin" [(ngModel)]="phase.isCriteria">
                </mat-checkbox>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="projectName">
                {{ 'Type' | localize }}:
            </label>
            <div class="col-md-9">
                
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="projectName">
                {{ 'Không áp dụng cho tiêu chí đánh giá' | localize }}:
            </label>
            <div class="col-md-9">
                <mat-checkbox  class="example-margin" >
                </mat-checkbox>
            </div>
        </div>
    </div>
    <!--         
    </div> -->
    <div align="end" class="mat-dialog-actions" mat-dialog-actions="">
        <button class="btn btn-default cancel-banks" mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" class="saving-btn"mat-button
        [disabled]="!timesheetForm.form.valid ||isLoading"  >Save</button>
    </div>
</form>
