<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>{{'Timesheet' | localize}}</h1>
            </div>
           
        </div>
    </div>
</section>

<section class="content px-2">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">

            </div>

            <div class="card-body table-responsive p-4">
                <table style="border-collapse: collapse;" class="table table-hover text-nowrap" [busy]="isLoading">
                    <thead class="bg-light">
                        <tr>
                            <th>STT</th>
                            <th>Timesheet</th>
                            <th>File</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let timesheet of listTimesheetByProject ; let i = index">
                            <td>{{i+1}}</td>
                            <td> <span *ngIf="!timesheet.createMode">{{timesheet.timeSheetName}}</span>
                                <div *ngIf="timesheet.createMode"> 
                                <mat-form-field class="w-100" appearence ="outline">
                                    <input matInput [(ngModel)]="timesheet.timeSheetName" placeholder="timesheet name" />
                                </mat-form-field>    
                                </div>
                            </td>
                            <td>
                                <span>{{timesheet.timesheetFile}}</span>

                            </td>
                            <td><span>{{timesheet.note}}</span></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!-- <button    style="border: none; width: 30px;" (click)="addTimesheet()" class=" bg-blue mt-2">
                <i class="fa fa-plus-square"></i>
            </button> -->

        </div>
    </div>
</section>