<div class="card mt-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <h3>Thông tin dự án</h3>
            </div>
        </div>
    </div>


    <div class="card-body table-responsive p-4">
        <form class="form-horizontal" autocomplete="off" #requestDetail="ngForm">
            <div class="form-group row detail ">
                <label class="col-md-2 col-form-label" for="requestName">
                    Mô tả ngắn dự án:
                </label>
                <div class="col-md-4 mt-2">
                    <p>{{projectDetail.briefDescription}}</p>
                </div>

            </div>
            <div class="form-group row detail ">
                <label class="col-md-2 col-form-label" for="projectCode">
                    Mô tả chi tiết dự án:
                </label>
                <div class="col-md-4 mt-2">
                    <p>{{projectDetail.detailDescription}}</p>
                    
                </div>

            </div>
            <div class="form-group row detail ">
                <label class="col-md-2 col-form-label" for="projectPM">
                    Công nghệ sử dụng:
                </label>
                <div class="col-md-4 mt-2">
                    <p>{{projectDetail.technologyUsed}}</p>

                </div>

            </div>
            <div class="form-group row detail ">
                <label class="col-md-2 col-form-label" for="requestName">
                    Các vấn đề kĩ thuật:
                </label>
                <div class="col-md-4 mt-2">
                    <p>{{projectDetail.technicalProblems}}</p>

                </div>

            </div>
            <div class="form-group row detail ">
                <label class="col-md-2 col-form-label" for="requestName">
                    Các vấn đề khác:
                </label>
                <div class="col-md-4 mt-2">
                    <p>{{projectDetail.otherProblems}}</p>

                </div>

            </div>
            <div class="form-group row detail ">
                <label class="col-md-2 col-form-label" for="requestName">
                    Kiến thức mới:
                </label>
                <div class="col-md-4 mt-2">
                    <p>{{projectDetail.newKnowledge}}</p>

                </div>

            </div>



        </form>

    </div>



</div>