<section class="content px-2 mt-2"  *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabBillInfo_View)">
    <div class="container-fluid">
        <div class="card mt-3">

            <mat-expansion-panel [expanded]="!isShowUserBill" >
                <mat-expansion-panel-header class="mt-2 mb-2" (click)="isShowUserBill=!isShowUserBill">
                    <h4 class="d-inline">Danh sách Bill Dự án</h4>
                    <button *ngIf="!userBillProcess && permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabBillInfo_Create)"
                        [hidden]="isShowUserBill" style="border: none;" class="btn bg-blue ml-3"
                        (click)="addUserBill();userBillCurrentPage=1; $event.stopPropagation()">
                        <i class="fa fa-plus-square mr-1"></i>Create
                    </button>

                </mat-expansion-panel-header>
                <div class="table-responsive mb-1 p-2">
                    <div class="">


                        <table style="border-collapse: collapse;" class="table table-hover text-nowrap"
                            [busy]="isLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th class="stt">#</th>
                                    <th>Employee</th>
                                    <th>Charge Role</th>
                                    <th>Rate <br> <span *ngIf="rateInfo.isCharge">{{getTitleRate()}}</span></th>
                                    <th>Start charge</th>
                                    <th>End charge</th>
                                    <th>Is Charge</th>
                                    <th>Note</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bill of userBillList; let i = index">
                                    <td><span>{{ i +1 }}</span></td>
                                    <td class="text-left" style="min-width: 250px;">
                                        <span *ngIf="!bill.createMode">
                                            <app-user-info
                                                [userData]="{fullName:bill.fullName,branch:bill.branch,
                                        userType:bill.userType,emailAddress:bill.emailAddress, avatarPath:bill.avatarPath}">
                                            </app-user-info>
                                        </span>
                                        <div *ngIf="bill.createMode">

                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-select (closed)="focusOut()" [(ngModel)]="bill.userId" name="userBill"
                                                    placeholder="select an user *" required #userBill="ngModel">
                                                    <mat-form-field class="w-100 px-3 "
                                                        style="position: sticky; top: 0; z-index: 2; background-color: white;">
                                                        <input matInput [(ngModel)]="searchUserBill"
                                                            placeholder="search" (keydown)="$event.stopPropagation()"
                                                            name="searchBillUser" #search>{{search.focus()}}
                                                    </mat-form-field>
                                                    <mat-option
                                                        *ngFor="let user of userForUserBill | listFilter: 'fullName' : searchUserBill : 'emailAddress' : 'surname' : 'name'"
                                                        [value]="user.id">
                                                        {{user.fullName}} - ({{user.emailAddress}})</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error class="mt-1"
                                                *ngIf="userBill.hasError('required') && userBill.touched"
                                                style="font-size: 13px;">
                                                This field is required
                                            </mat-error>

                                        </div>
                                    </td>
                                    <td>
                                        <span *ngIf="!bill.createMode">{{bill.billRole}}</span>

                                        <div *ngIf="bill.createMode">

                                            <input style="min-width: 150px;" required class="form-control mt-1"
                                                #billRole="ngModel" #billRoleEl type="text" placeholder="Charge role *"
                                                name="billRole" [(ngModel)]="bill.billRole" />

                                            <abp-validation-summary [control]="billRole" [controlEl]="billRoleEl">
                                            </abp-validation-summary>

                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span class="text-center" *ngIf="!bill.createMode">{{bill.billRate | number:'1.0':'en-US'}}
                                        </span>
                                        <div *ngIf="bill.createMode">
                                            <input style="min-width: 150px;" required class="form-control mt-1"
                                                #billRate="ngModel" #billRateEl type="text" mask="separator"
                                                thousandSeparator="." placeholder="number *"
                                                [(ngModel)]="bill.billRate">
                                            <abp-validation-summary [control]="billRate" [controlEl]="billRateEl">
                                            </abp-validation-summary>

                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="!bill.createMode">{{bill.startTime |date:"dd/MM/yyyy"}}</span>
                                        <div *ngIf="bill.createMode">
                                            <mat-form-field appearance="outline" style="width: 150px;">
                                                <input matInput [matDatepicker]="billStarttimePicker"
                                                    placeholder="chose a date *" [(ngModel)]="bill.startTime"
                                                    name="billStarttime" #billStartTime="ngModel" required>
                                                <mat-datepicker-toggle matSuffix [for]="billStarttimePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #billStarttimePicker></mat-datepicker>
                                            </mat-form-field>

                                            <mat-error class="mt-1"
                                                *ngIf="billStartTime.hasError('required') && billStartTime.touched"
                                                style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span class="text-center" *ngIf="!bill.createMode">{{bill.endTime |date:"dd/MM/yyyy"}}</span>
                                        <div *ngIf="bill.createMode">
                                            <mat-form-field appearance="outline" style="width: 150px;">
                                                <input matInput [matDatepicker]="billEndtimepicker"
                                                    placeholder="chose a date" [(ngModel)]="bill.endTime"
                                                    name="billEndtime">
                                                <mat-datepicker-toggle matSuffix [for]="billEndtimepicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #billEndtimepicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <mat-checkbox [disabled]="!bill.createMode" class="mt-1"
                                            [(ngModel)]="bill.isActive">
                                        </mat-checkbox>
                                    </td>
                                    <td style="white-space: normal; min-width: 150px;text-align: left;">
                                        <span *ngIf="!bill.createMode">
                                            {{bill.note}}
                                        </span>
                                        <div *ngIf="bill.createMode">
                                            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" rows="2"
                                                style="min-width: 150px;" class="form-control mt-1" #billRole="ngModel"
                                                placeholder="Note" name="billNote" [(ngModel)]="bill.note"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="!bill.createMode">
                                            <button *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabBillInfo_Edit)"
                                                [disabled]="userBillProcess" class="btn btn-sm bg-secondary mr-1"
                                                (click)="editUserBill(bill)"><i
                                                    class="fas fa-pencil-alt"></i>Edit</button>
                                            <button *ngIf="permission.isGranted(Projects_OutsourcingProjects_ProjectDetail_TabBillInfo_Delete)"
                                                [disabled]="userBillProcess" class="btn btn-sm bg-danger ml-1"
                                                (click)="removeUserBill(bill)"><i
                                                    class="fas fa-trash"></i>delete</button>


                                        </div>
                                        <div *ngIf="bill.createMode" class="pt-1">

                                            <button [disabled]="!bill?.userId   || !bill?.startTime  || !bill?.billRate"
                                                class=" mr-3 submit-btn" style="background: none; border: none;"
                                                (click)="saveUserBill(bill)">
                                                <i style="color: green;" class="fas fa-check fa-2x "></i>
                                            </button>


                                            <i style="color: red;" class="fas fa-times fa-2x"
                                                (click)="cancelUserBill()"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


              
            </mat-expansion-panel>
            <mat-expansion-panel>

            </mat-expansion-panel>

        </div>
    </div>
    <!-- </form> -->
</section>