<section class="content px-2">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="input-group col-6">
                    <div class="input-group-prepend">
                        <button type="button" class="btn bg-blue">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" name="keyword" placeholder="Search" 
                    />
                </div>
            </div>
            
            <div class="card-body table-responsive p-4">
                <table style="border-collapse: collapse;" class="table table-hover text-nowrap" >
                    <thead class="bg-light">
                        <tr>
                            <th>STT</th>
                            <th>Weekly Report</th>
                            <th>Số lượng project trong Report</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td></td>
                            <td><span
                                class="hyperlink" (click)="showDetail()">hi</span></td>
                            <td></td>
                            <td>
                                <button class="btn bg-blue">
                                    Close Report
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
           
        </div>
    </div>
</section>

