<div *ngIf="permission.isGranted(Audits_Tailoring_Update_Project)" class="wrapper">

  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="searchCriteria()"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
              [(ngModel)]="search"
                type="text"
                class="form-control"
                name="keyword"
                placeholder="Search"
                (keyup.enter)="searchCriteria()"
              />
            </div>
          </div>

          <div class="col-lg-5 col-md-5 mt-3 mt-lg-0 text-right">
            <button style="width:78px ;" (click)="view()" class="btn bg-primary btn-action">
              View
            </button>
          </div>
        </div>
      </div>

      <mat-tree
        [dataSource]="dataSource"
        [treeControl]="treeControl"
        class="example-tree px-2"
      >
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle [style.marginLeft] = "node.level * 40 + 'px'"  style="background-color:rgb(245, 242, 242) ">
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node,true)"
                      [disabled]="!permission.isGranted(Audits_Tailoring_Update_Project_Tailoring)">
                       <div style="margin: auto 0" class="mr-4">
                        <span class="mr-4"> {{ node.item.code }} </span>
                        <span>{{ node.item.name }}</span>
                       </div>
                  </mat-checkbox>
                  <i *ngIf="node.item.isApplicable"
                  [style.color]="'#28a745'"
                  style="font-size: 20px;"
                  class="fas fa-check-circle"
                ></i>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" [style.marginLeft] = "node.level * 40 + 'px'"  style="background-color:#c4dfec ">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
                <i
                *ngIf="treeControl.isExpanded(node); else elseBlock"
                class="fa fa-chevron-down"
              ></i>
              <ng-template #elseBlock>
                <i class="fa fa-chevron-right"></i
              ></ng-template>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  [disabled]="!permission.isGranted(Audits_Tailoring_Update_Project_Tailoring)"
                  (change)="todoItemSelectionToggle(node,true)">

                  <div style="margin: auto 0" class="mr-4">
                    <span class="mr-4"> {{ node.item.code }} </span>
                    <span>{{ node.item.name }}</span>
                   </div>
                  </mat-checkbox>
      </mat-tree-node>
      </mat-tree>

    </div>
  </div>
</div>
