<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1>Đợt kiểm tra: {{projectName}} </h1>
            </div>
        </div>
    </div>
</section>

<section class="content px-2">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <span><span>Đánh giá chung: </span><span [hidden]="isEditingNote" *ngIf="!isEditingNote"
                                [(ngModel)]="note">{{note}}</span></span>
                        <textarea [(ngModel)]="note" [hidden]="!isEditingNote" style="height: 50px;" type="text"
                            class="form-control" name="notePM" placeholder="Đánh giá chung"></textarea>

                    </div>
                    <div class="col-6 text-right">
                        <div class="text-right">
                            <button *ngIf="!isEditingNote" (click)="isEditingNote=true" type="button"
                                class="btn bg-blue">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button *ngIf="isEditingNote" (click)="saveNote();isEditingNote=false" type="button"
                                style="margin-right: 20px;" class="btn bg-blue">
                                Save
                            </button>
                            <button *ngIf="isEditingNote" (click)="getAllCheckList();isEditingNote=false"
                                class="btn btn-default">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-4">
                <div class="fixTableHead">
                    <table style="border-collapse: collapse;" class="table text-nowrap">
                        <thead class="bg-light">
                            <tr style="border: none;">
                                <th>STT</th>
                                <th>Catelog</th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Thời gian đăng kí</th>
                                <th>Audit Target</th>
                                <th>Person In Charge</th>
                                <th>Kết quả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listCheckList; let i=index">
                                <td><span>{{i+1}}</span></td>
                                <td style="white-space: normal;width: 200px;">{{item.categoryName}}</td>
                                <td style="white-space: normal;width: 200px;">{{item.name}}</td>
                                <td style="white-space: normal;min-width: 300px;">{{item.description}}</td>
                                <td>{{item.registrationDate | date:"dd/MM/yyyy"}}</td>
                                <td>{{item.auditTarget}}</td>
                                <td>{{item.personInCharge}}</td>
                                <td>
                                    <div>
                                        <div *ngFor="let form of item.people" class="form-horizontal mb-2 p-2"
                                            style="border: 1px solid black;">

                                            <p class="mt-2" *ngIf="!isEditing"><strong>Người vi phạm:
                                                </strong>{{form.userName}}</p>
                                            <mat-form-field *ngIf="isEditing" appearance="outline" class="d-block">
                                                <mat-select placeholder="Tên người vi phạm" name="ngvipham"
                                                    [(ngModel)]="form.userId">
                                                    <ng-container>
                                                        <mat-option *ngFor="let user of projectUserList"
                                                            [value]="user.userId">{{user.userName}}</mat-option>
                                                    </ng-container>

                                                </mat-select>
                                            </mat-form-field>
                                            <p *ngIf="!isEditing" class="mt-2"><strong>Người liên đới:
                                                </strong>{{form.curatorName}}</p>


                                            <div *ngIf="isEditing" class="form-group row ">
                                                <!-- <label class="col-md-3 " for="type">
                                                    người vi phạm:
                                                </label> -->
                                                <div class="col-md-12">
                                                    <mat-form-field appearance="outline" class="d-block">
                                                        <mat-select name="ngliendoi" placeholder="Tên người vi phạm"
                                                            [(ngModel)]="form.curatorId">
                                                            <ng-container *ngFor="let user of projectUserList">
                                                                <mat-option *ngIf="user.userId != ngvipham.value"
                                                                    [value]="user.userId">{{user.userName}}</mat-option>
                                                            </ng-container>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                              
                                            </div>
                                            <div *ngIf="!isEditing" class="text-center">
                                                <button class="btn btn-sm bg-secondary mr-1" mat-raised-button
                                                    style="margin-right:20px ;"
                                                    (click)="editPeople(form); form.createMode=true">Edit</button>
                                                <button class="btn btn-sm bg-danger ml-1" mat-raised-button
                                                    (click)="deletePeople(form)">Delete</button>
                                            </div>
                                            <div *ngIf="form.createMode" class=" text-center ">
                                                <button (click)="save(item.id,form);isEditting=false;"
                                                    class="btn btn-primary mr-1 ml-3">Save</button>
                                                <button (click)="getAllCheckList(); " isAllowed=true;
                                                    class="btn btn-default">Cancel</button>

                                            </div>
                                        </div>
                                        <div class="text-center">

                                        </div>
                                    </div>
                                    <div>
                                        <form class="form-horizontal">
                                            <div class="modal-body"
                                                style="display: flex;flex-direction: column;align-items: center;">
                                                <div class="form-group row required">
                                                    <mat-form-field appearance="outline">
                                                        <mat-select name="ngsaipham" placeholder="Tên người vi phạm"
                                                            [(ngModel)]="projectUser.userId" #ngvipham="ngModel">
                                                            <ng-container *ngFor="let user of projectUserList">
                                                                <mat-option [value]="user.userId">{{user.userName}}
                                                                </mat-option>
                                                            </ng-container>

                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group row required">
                                                    <mat-form-field appearance="outline">
                                                        <mat-select name="ngliendoi" placeholder="Tên người liên đới"
                                                            [(ngModel)]="projectUser.curatorId" #ngliendoi="ngModel">
                                                            <ng-container *ngFor="let user of projectUserList">
                                                                <mat-option *ngIf="user.userId != ngvipham.value"
                                                                    [value]="user.userId">{{user.userName}}</mat-option>
                                                            </ng-container>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>


                                                <div class="form-group row required">
                                                    <button class="btn bg-blue" mat-raised-button
                                                        (click)="submit(item.id)">Submit</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>
</section>