<section class="content px-2 mt-2">
    <div class="container-fluid">
        <div class="">
            <div class="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control" name="keyword" placeholder="Search" [(ngModel)]="searchText"
                        (keyup.enter)="getDataPage(1)" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-default" (click)="checkAddFilter()">
                            <i class="fas" [class.fa-angle-up]="advancedFiltersVisible"
                                [class.fa-angle-down]="!advancedFiltersVisible"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="advancedFiltersVisible" class="mb-0 mt-1">
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="mb-0">
                                    <div>
                                        <div *ngFor="let item of filterItems; let i = index">
                                            <app-filter [item]="item" (emitChange)="onEmitChange($event, i)"
                                                (deleteDataFilter)="deleteFilterItem(i)" [inputFilters]="FILTER_CONFIG">
                                            </app-filter>
                                        </div>
                                        <i style="padding: 0;" class="fas fa-plus-circle ml-3"
                                            (click)="addFilter()"></i>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </form>
                    <!-- <div class="col-4">
                        <div>
                            <mat-form-field class="w-75" appearance="outline">
                                <mat-select class="w-100" [(ngModel)]="skill" aria-placeholder="Select Skill" name="skill" (selectionChange)="filterSkills($event.value)" placeholder="Search skill">
                                    <mat-option *ngFor="let skill of listSkills" [value]="skill.id">
                                        {{skill.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                    
                    
                </div>
            </div>
            <div class=" table-responsive py-4">
                <div class="fixTableHead">
                <table [busy]="isLoading" style="border-collapse: collapse;" class="table table-hover text-nowrap">
                    <thead class="bg-light">
                        <tr style="border: none;">
                            <th>STT</th>
                            <th>Nhân viên</th>
                            <th>Dự án</th>
                            <th>Plan sử dụng</th>
                            <th>Kĩ năng</th>
                            <th>Sử dụng hiện tại</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of availableResourceList |paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              }; let i = index">
                            <td class="text-center"><span>{{ i +1 }}</span></td>
                            <td style=" border:none" class="row">
                                <div class="col-11 col-sm-9" style="white-space: normal; border:none">
                                    <app-user-info [userData]="{fullName:item.fullName,branch:item.branch,
                                userType:item.userType,emailAddress:item.emailAddress,avatarPath:item.avatarPath}">
                                    </app-user-info>
                
                                </div>
                                <div class="col-1 col-sm-3">
                                    <ngx-stars style="z-index: 1 !important;" [readonly]="true" [wholeStars]="true" [size]="1"  [initialStars]="item.starRate" [maxStars]="item.starRate?item.starRate:0" (ratingOutput)="onRatingSet($event)"></ngx-stars>
                                </div>

                            </td>
                            <td style="white-space: normal; max-width: 200px;">
                                <!-- <strong *ngFor="let project of item.projects;let i =index">
                                    {{project.projectName}} <span *ngIf="i < item.projects.length-1">,</span>
                                </strong> -->
                                <ng-container *ngFor="let project of item.projects">
                                    <div><strong class="hyperlink" (click)="showProjectDetail(project.projectId,project.projectName)">-{{project.projectName}}</strong></div>
                                </ng-container>
                                
                            
                                    
                             
                                
                                
                            </td>
                            <td style="white-space: normal; max-width: 200px;">
                                <div *ngFor="let i of item.projectUserPlans">
                                    <span><strong>Tham gia dự án:</strong>  {{i.projectName}}</span><br>
                                    <span><strong>Từ ngày :</strong> {{i.startTime | date: "dd/MM/yyyy"}}</span><br>
                                    <span><strong>Sử dụng:</strong> {{i.allocatePercentage}}%</span><br><br>
                                </div>
                            </td>
                            <td style="white-space: normal; max-width: 200px;">
                                
                                    {{skillsCommas(item.listSkills)}}

                                
                            </td>
                            <td class="text-center"><strong class="mr-2">{{item.used}}%</strong>
                                <button class="btn btn-secondary btn-sm" (click)="planUser(item)">
                                    Plan
                                </button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="bg-light border-top pt-2">
                <div class="row">
                    <div class="col-sm-4 col-12 text-sm-left text-center">
                        <button class="btn btn-secondary mb-2" (click)="refresh()">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                        <mat-form-field style="width: 20%;margin-left: 30px;">
                            <mat-label>Number items</mat-label>
                            <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                                <mat-option [value]="5">
                                    5
                                </mat-option>
                                <mat-option [value]="10">
                                    10
                                </mat-option>
                                <mat-option [value]="20">
                                    20
                                </mat-option>
                                <mat-option [value]="50">
                                    50
                                </mat-option>
                                <mat-option [value]="100">
                                    100
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4 col-12 text-center">
                        <p class="mb-0 my-2">
                            {{ "TotalRecordsCount" | localize: totalItems }}
                        </p>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="float-sm-right m-auto">
                            <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                            </abp-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>