<section class="content px-2 py-2 m-0" style="background-color: #f1f1f1;">
    <div class="container-fluid">
        <div class=" mt-2 ">
            <mat-expansion-panel [expanded]="isShowProjectUser" >
                <mat-expansion-panel-header class="mt-2 mb-2" (click)="isShowProjectUser = !isShowProjectUser">
                    <div class="col-md-6">
                        <strong class="table-title">Current resource</strong>
                        <button *ngIf="!projectUserProcess " [hidden]="projectUserProcess || !isShowProjectUser" (click)="addProjectUser();userListCurrentPage=1;$event.stopPropagation()" class="btnCreate" class="btn bg-blue ml-3 btn-sm mb-2">
                            <i class="fa fa-plus m-0"></i>

                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6" *ngIf="isShowProjectUser">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [checked]="viewHistory" [disabled]="projectUserProcess" (change)="filterProjectUser(viewHistoryCheck); " (click)="$event.stopPropagation()" #viewHistoryCheck>View history
                                </mat-checkbox>
                            </section>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <div class="table-responsive mb-1 p-2">
                    <div class="">
                        <table style="border-collapse: collapse;" class="table text-nowrap" [busy]="isLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th class="stt">#</th>
                                    <th>Employee</th>
                                    <th>Skills</th>
                                    <th style="width: 150px;">Role</th>
                                    <th style="width: 150px;">Start time</th>
                                    <th style="width: 150px;">Work type</th>
                                    <th style="width: 120px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="user.workingStatus == APP_ENUM.ProjectUserStatus.Past ? 'past' : ''" *ngFor="let user of projectUserList |paginate:{ 
                                        id: 'projectUser',
                                    itemsPerPage: itemPerPage,
                                    currentPage: userListCurrentPage
                                    }  ; let i = index">
                                    <td><span>{{ i +1 }}</span></td>
                                    <td class="text-left">
                                        <div *ngIf="!user.createMode" class="d-flex">
                                            <div class="col-10">
                                                <app-user-info [userData]="{fullName:user.fullName,branch:user.branch,
                                                    userType:user.userType,emailAddress:user.emailAddress, avatarPath:user.avatarPath,
                                                    userLevel: user.userLevel,
                                                    rateStar: user.starRate}">
                                                </app-user-info>
                                            </div>
                                            <div class="col-2 status-badges" *ngIf="user.workingStatus == APP_ENUM.ProjectUserStatus.Past">
                                                <span class="badge" [ngClass]="user.allocatePercentage > 0? 'bg-success' :'bg-danger'">{{user.allocatePercentage
                                                    > 0 ? 'Join' : 'Out'}}</span>
                                            </div>
                                        </div>
                                        <div *ngIf="user.createMode" class="form-group row required">

                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-select (closed)="searchUser=''" [(ngModel)]="user.userInfo" (ngModelChange)="onUserSelect(user)" name="projectEmployee" placeholder="select account *" required #projectEmployee="ngModel">
                                                    <mat-form-field class="w-100 px-3 " style="position: sticky; top: 0; z-index: 2; background-color: white;">
                                                        <input matInput [(ngModel)]="searchUser" name="searchCurrentResource" placeholder="Search" (keydown)="$event.stopPropagation()" #search>{{search.focus()}}
                                                    </mat-form-field>
                                                    <mat-option *ngFor="let u of userForProjectUser |listFilter: 'fullName'  :searchUser : 'emailAddress' : 'surname' : 'name'" [value]="u">
                                                        {{u.fullName}} - ({{u.emailAddress}})</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error class="mt-1" *ngIf="projectEmployee.hasError('required') && projectEmployee.touched" style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;"> <span style="white-space: normal; max-width: 200px">
                                            <div class="d-flex " style="align-items: center;">
                                                <div style="width: 90%; text-align: left;">
                                                    <p class="m-0" *ngFor="let item of user.userSkills">
                                                        - {{item.skillName}}
                                                    </p>
                                                </div>
                                                <div style="width: 10%; text-align: right;"
                                                    *ngIf="!(user.workingStatus == APP_ENUM.ProjectUserStatus.Past 
                                                || (user.workingStatus == APP_ENUM.ProjectUserStatus.Present && user.allocatePercentage == 0))">
                                                    <i class="fas fa-edit" (click)="updateUserSkill(user)" *ngIf="!user.createMode && !user.editMode"
                                                        matTooltip="Edit skill"></i>
                                                </div>
                                            </div>
                                        </span>
                                    </td>

                                    <td class="text-center">
                                        <span [ngClass]="APP_CONST.projectUserRole[user.projectRole]" class="badge table-vertical" *ngIf="!user.createMode && !user.editMode">{{
                                            user.projectRoleName
                                            }}</span>
                                        <div *ngIf="user.createMode || user.editMode">
                                            <mat-form-field style="width: 130px;" appearance="outline">
                                                <mat-select [(ngModel)]="user.projectRole" name="projectRole" placeholder="select a role" required #projectRole="ngModel">
                                                    <mat-option *ngFor="let role of projectRoleList" [value]="APP_ENUM.ProjectUserRole[role]">
                                                        {{role}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error class="mt-1" *ngIf="projectRole.hasError('required') && projectRole.touched" style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>


                                    <td class="text-center">
                                        <div class="table-vertical" *ngIf="!user.createMode  && !user.editMode">

                                            {{user.startTime | date:"dd/MM/yyyy"}}
                                        </div>
                                        <div *ngIf="user.createMode || user.editMode">
                                            <mat-form-field appearance="outline" style="width: 150px;">
                                                <input matInput [matDatepicker]="picker" placeholder="chose a date *" required [(ngModel)]="user.startTime" name="usercreateDate" #projectDate="ngModel" #projectDateEl>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-error class="mt-1" *ngIf="projectDate.hasError('required') && projectDate.touched" style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>


                                    <td>
                                        <div *ngIf="!user.createMode " class="table-vertical">
                                            <strong [ngClass]="user.isPool ? 'text-secondary' : 'text-primary'">
                                                {{user.workType }}
                                            </strong>
                                        </div>
                                        <div *ngIf="user.createMode ">
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="user.isPool">
                                                <div class="text-left">
                                                    <mat-radio-button class="mr-2" [value]="false">Offical
                                                    </mat-radio-button>
                                                </div>
                                                <div class="text-left">
                                                    <mat-radio-button [value]="true">Temp</mat-radio-button>
                                                </div>
                                            </mat-radio-group>
                                        </div>

                                    </td>
                                    <td style="vertical-align: middle;">
                                        <div *ngIf="!user.createMode && !user.editMode && !(user.workingStatus == APP_ENUM.ProjectUserStatus.Past 
                                        || (user.workingStatus == APP_ENUM.ProjectUserStatus.Present && user.allocatePercentage == 0))">
                                            <button mat-button [matMenuTriggerFor]="menu">
                                                <i class="fas fa-bars fa-lg"></i>
                                            </button>
                                            <mat-menu #menu="matMenu" class="p-2">
                                                <button *ngIf="permission.isGranted(PmManager_ProjectUser_Update)" [disabled]="projectUserProcess" class="mat-menu-item  w-100" (click)="editProjectUser(user)"> <i
                                                        class="fas fa-edit"></i>Edit</button>
                                                <button [disabled]="projectUserProcess" class="mat-menu-item  w-100" (click)="releaseUser(user)">
                                                    <i class="fas fa-sign-out-alt mr-1"></i>Release</button>
                                            </mat-menu>

                                        </div>
                                        <div *ngIf="user.createMode || user.editMode" class="pt-2">
                                            <button [disabled]="!(user?.userId || user.userInfo )|| (!user?.projectRole && user?.projectRole != 0)|| !user?.startTime " class=" mr-3 submit-btn" style="background: none; border: none;" (click)="saveProjectUser(user)">
                                                <i style="color: green; ;" class="fas fa-check fa-2x"></i>
                                            </button>
                                            <i style="color: red;" class="fas fa-times fa-2x" (click)="cancelProjectUser(user)"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination-controls autoHide="true" id="projectUser" (pageChange)="userListCurrentPage = $event">
                </pagination-controls>
            </mat-expansion-panel>




            <!-- Planned user -->
            <mat-expansion-panel class="mt-3" [expanded]="isShowCurrentResouce">
                <mat-expansion-panel-header class="mt-2 mb-2" (click)="isShowCurrentResouce = !isShowCurrentResouce ">
                    <div class="col-md-6">
                        <strong class="table-title">Planned resource</strong>
                        <button *ngIf="!planResourceProcess " [hidden]="!isShowCurrentResouce" (click)="addPlanResource();resourceListCurrentPage=1;$event.stopPropagation()" class="btnCreate" class="btn bg-blue ml-3 mb-2 btn-sm">
                            <i class="fa fa-plus m-0"></i>
                        </button>
                    </div>

                </mat-expansion-panel-header>
                <div class="table-responsive mb-1 p-2">
                    <div class="">
                        <table style="border-collapse: collapse;" class="table table-hover text-nowrap" [busy]="isLoading">
                            <thead class="bg-light">
                                <tr>
                                    <th class="stt">#</th>
                                    <th>Employee</th>
                                    <th style="width: 200px;">Skill</th>
                                    <th style="width: 120px;">Role</th>
                                    <th style="width: 150px;">Start time</th>
                                    <th style="width: 150px;">Work type</th>
                                    <th style="width: 150px;">Join/Out</th>
                                    <th style="width: 200px;">Note</th>
                                    <th style="width: 100px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of plannedUserList |paginate:{ 
                                        id: 'projectUser',
                                    itemsPerPage: itemPerPage,
                                    currentPage: userListCurrentPage
                                    }  ; let i = index">
                                    <td><span>{{ i +1 }}</span></td>
                                    <td class="text-left">

                                        <div class="row">
                                            <div class="col-11">
                                                <div *ngIf="!user.createMode">
                                                    <app-user-info [userData]="{fullName:user.fullName,branch:user.branch,
                                                userType:user.userType,emailAddress:user.emailAddress, avatarPath:user.avatarPath,
                                                userLevel: user.userLevel,
                                                rateStar: user.starRate}">
                                                    </app-user-info>
                                                </div>
                                                <div *ngIf="user.createMode" class="form-group row required">

                                                    <mat-form-field class="w-100" appearance="outline">
                                                        <mat-select (closed)="searchPlannedResource=''" [(ngModel)]="user.userId" name="projectEmployee" placeholder="select account *" required #projectEmployee="ngModel">
                                                            <mat-form-field class="w-100 px-3 " style="position: sticky; top: 0; z-index: 2; background-color: white;">
                                                                <input matInput [(ngModel)]="searchPlannedResource" name="searchPlannedResource" placeholder="Search" (keydown)="$event.stopPropagation()" #search>{{search.focus()}}
                                                            </mat-form-field>
                                                            <mat-option *ngFor="let u of userForProjectUser |listFilter: 'fullName' : searchPlannedResource : 'emailAddress' : 'surname' : 'name'" [value]="u.id" (click)="onPlanUserSelect(user,u)">
                                                                {{u.fullName}} - ({{u.emailAddress}})</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-error class="mt-1" *ngIf="projectEmployee.hasError('required') && projectEmployee.touched" style="font-size: 13px;">
                                                        This field is required
                                                    </mat-error>
                                                </div>
                                            </div>

                                        </div>


                                    </td>
                                    <td style="vertical-align: middle;"> <span style="white-space: normal; max-width: 200px">
                                            <div class="d-flex" style="align-items: center;">
                                                <div style="width: 90%; text-align: left;">
                                                    <p class="m-0" *ngFor="let item of user.userSkills">
                                                        - {{item.skillName}}
                                                    </p>
                                                </div>
                                                <div style="width: 10%; text-align: right;" >
                                                    <i class="fas fa-edit" (click)="updateUserSkill(user) " *ngIf="!user.createMode && !user.editMode"
                                                        matTooltip="Edit skill"></i>
                                                </div>
                                            </div>
                                        </span>
                                    </td>

                                    <td class="text-center">
                                        <span [ngClass]="APP_CONST.projectUserRole[user.projectRole]" class="badge table-vertical" *ngIf="!user.createMode && !user.editMode">{{
                                            user.projectRoleName
                                            }}</span>
                                        <div *ngIf="user.createMode || user.editMode">
                                            <mat-form-field style="width: 130px;" appearance="outline">
                                                <mat-select [(ngModel)]="user.projectRole" name="projectRole" placeholder="select a role" required #projectRole="ngModel">
                                                    <mat-option *ngFor="let role of projectRoleList" [value]="APP_ENUM.ProjectUserRole[role]">
                                                        {{role}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-error class="mt-1" *ngIf="projectRole.hasError('required') && projectRole.touched" style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>


                                    <td class="text-center">
                                        <div class="table-vertical" *ngIf="!user.createMode && !user.editMode">
                                            {{user.startTime | date:"dd/MM/yyyy"}}
                                        </div>
                                        <div *ngIf="user.createMode || user.editMode">
                                            <mat-form-field appearance="outline" style="width: 150px;">
                                                <input matInput [matDatepicker]="picker" [min]="tomorrowDate" placeholder="chose a date *" required [(ngModel)]="user.startTime" name="usercreateDate" #projectDate="ngModel" #projectDateEl>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-error class="mt-1" *ngIf="projectDate.hasError('required') && projectDate.touched" style="font-size: 13px;">
                                                This field is required
                                            </mat-error>
                                        </div>
                                    </td>



                                    <td class="text-center">
                                        <div class="table-vertical" *ngIf="!user.createMode && !user.editMode">
                                            <strong [ngClass]="user.isPool ? 'text-secondary' : 'text-primary'">
                                                {{user.workType }}</strong>

                                        </div>
                                        <div *ngIf="user.createMode || user.editMode" class="text-center">
                                            <mat-radio-group aria-label="Select an option" [(ngModel)]="user.isPool">
                                                <mat-radio-button class="mr-2 d-block" [value]="false">Offical
                                                </mat-radio-button>
                                                <mat-radio-button class="d-block" [value]="true">Temp</mat-radio-button>
                                            </mat-radio-group>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="text-center table-vertical" *ngIf="!user.createMode && !user.editMode" [ngClass]="user.allocatePercentage > 0 ? 'text-success' : 'text-danger'">
                                            <strong> {{user.allocatePercentage > 0 ? 'Join' : 'Out' }} </strong>
                                        </div>
                                        <mat-radio-group *ngIf="user.createMode || user.editMode" aria-label="Select an option" [(ngModel)]="user.allocatePercentage">
                                            <mat-radio-button class="mr-2 d-block" [value]="100">Join
                                            </mat-radio-button>
                                            <mat-radio-button *ngIf="!user.createMode" class="d-block" [value]="0">Out</mat-radio-button>
                                        </mat-radio-group>
                                    </td>
                                    <td>
                                        <p class="table-vertical" *ngIf="!user.createMode && !user.editMode">
                                            {{user.note}}</p>

                                        <textarea name="pmNote" [(ngModel)]="user.note" *ngIf="user.createMode || user.editMode" rows="2"></textarea>

                                    </td>

                                    <td>
                                        <div *ngIf="!user.createMode && !user.editMode">
                                            <button mat-button [matMenuTriggerFor]="menu">
                                                <i class="fas fa-bars fa-lg"></i>
                                            </button>
                                            <mat-menu #menu="matMenu" class="p-2">
                                                <button *ngIf="permission.isGranted(PmManager_ProjectUser_Update)" [disabled]="planResourceProcess" class="mat-menu-item  w-100" (click)="confirm(user)"> <i class="fas fa-check"></i>Confirm
                                                    {{user.allocatePercentage > 0 ? 'Join' : 'Out'}}</button>
                                                <button *ngIf="permission.isGranted(PmManager_ProjectUser_Delete)" [disabled]="planResourceProcess" class="mat-menu-item  w-100" (click)="cancelResourcePlan(user)"> <i
                                                        class="fas fa-times"></i>Cancel Plan</button>
                                                <button [disabled]="planResourceProcess" class="mat-menu-item  w-100" (click)="editResourcePlan(user)"> <i
                                                        class="fas fa-edit"></i>Edit</button>
                                            </mat-menu>
                                        </div>
                                        <div *ngIf="user.createMode || user.editMode" class="pt-2">
                                            <button [disabled]="!user?.userId || !user?.startTime " class=" mr-3 submit-btn" style="background: none; border: none;" (click)="savePlanResource(user)">
                                                <i style="color: green; ;" class="fas fa-check fa-2x"></i>
                                            </button>
                                            <i style="color: red;" class="fas fa-times fa-2x" (click)="cancelPlanResourceProcess()"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination-controls autoHide="true" id="projectUser" (pageChange)="userListCurrentPage = $event">
                </pagination-controls>
            </mat-expansion-panel>








        </div>
    </div>


    <!-- <form #projectUserForm ="ngForm"   class="form-horizontal" autocomplete="off"> -->
    <div class="container-fluid">
        <div class="card mt-3">

            <mat-expansion-panel expanded=false>
                <mat-expansion-panel-header class="mt-2 mb-2" (click)="isShowRequest=!isShowRequest">
                    <strong class="table-title">Resource request</strong>
                    <button *ngIf="!requestProcess " [hidden]="!isShowRequest" (click)="addResourcceRequest();resourceRequestCurrentPage=1; $event.stopPropagation()" class="btn bg-blue ml-3 mb-2 btn-sm">
                        <i class="fa fa-plus m-0"></i>
                    </button>

                </mat-expansion-panel-header>
                <div class="table-responsive mb-1 p-2">
                    <div class="">


                        <table style="border-collapse: collapse ; table-layout:fixed !important" class="table table-hover text-nowrap" [busy]="isLoading">
                            <thead class="bg-light">
                                <tr style="border: none;">
                                    <th class="stt">#</th>
                                    <th>Request name</th>
                                    <th style="width: 160px;">Thời gian cần</th>
                                    <th>PM Note</th>
                                    <th>HPM note</th>
                                    <th style="width: 220px;">Status</th>
                                    <th style="width: 180px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let request of resourceRequestList  |paginate:{
                                    id: 'projecRequest',
                                    itemsPerPage: itemPerPage,
                                    currentPage: resourceRequestCurrentPage
                                    } ; let i = index">
                                    <td><span>{{ i +1 }}</span></td>
                                    <td class="text-left">
                                        <p style="white-space: normal; max-width: 300px;" *ngIf="!request.createMode">
                                            {{request.name}}</p>
                                        <div *ngIf="request.createMode" class="form-group row required">
                                            <input required placeholder="leave a comment *" class="form-control mt-2" type="text" [(ngModel)]="request.name" #requestName="ngModel" #requestNameEl>
                                            <abp-validation-summary [control]="requestName" [controlEl]="requestNameEl">
                                            </abp-validation-summary>
                                        </div>
                                    </td>


                                    <td>
                                        <p *ngIf="!request.createMode">{{request.timeNeed | date:"dd/MM/yyyy"}}</p>
                                        <div style="margin-top: 7px;" *ngIf="request.createMode" class="form-group row required">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <input matInput [matDatepicker]="picker" placeholder="chose a date *" [(ngModel)]="request.timeNeed" name="requestTimeNeed" #requestTimeNeed="ngModel" required>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-error class="mt-1" *ngIf="requestTimeNeed.hasError('required') && requestTimeNeed.touched" style="font-size: 13px;">
                                                This field is required
                                            </mat-error>

                                        </div>
                                    </td>
                                    <td style="white-space: normal; max-width: 300px; " class="text-left">
                                        <pre *ngIf="!request.createMode" class="mb-0 p-0  ml-2" style=" white-space: pre-line;
                                        font-family: sans-serif; align-self:flex-start; line-height: initial; font-size: 14px;">
                                          {{request.pmNote}}</pre>
                                        <div *ngIf="request.createMode" class="form-group row required">
                                            <mat-form-field class="w-100" appearance="outline">
                                                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" rows="2" placeholder="leave a comment" [(ngModel)]="request.pmNote" matInput></textarea>
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td style="white-space: normal; max-width: 210px;">
                                        <pre class="mb-0 p-0  ml-2" style=" white-space: pre-line;
                                        font-family: sans-serif; align-self:flex-start; line-height: initial; font-size: 14px;">
                                          {{request.dmNote}}</pre>
                                    </td>
                                    <td class="text-center">
                                        <p [ngClass]="APP_CONST.resourceRequestStyle[getByEnum(request.status,APP_ENUM.ResourceRequestStatus)]" *ngIf="!request.createMode">
                                            {{getByEnum(request.status,APP_ENUM.ResourceRequestStatus)}}</p>
                                        <p [ngClass]="APP_CONST.statusStyle['PENDING']" class="mt-1" *ngIf="request.createMode && !isEditRequest">PENDING</p>
                                        <div *ngIf="request.createMode && isEditRequest" class="form-group ">
                                            <mat-form-field appearance="outline" style="width: 180px;">
                                                <mat-select [(ngModel)]="request.status">
                                                    <mat-option *ngFor="let item of requestStatusList" [value]="APP_ENUM.ResourceRequestStatus[item]">
                                                        {{item}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                    </td>
                                    <td>
                                        <div *ngIf="!request.createMode">
                                            <button *ngIf="permission.isGranted(PmManager_ResourceRequest_Update)" [disabled]="requestProcess" class="btn btn-sm bg-secondary mr-1" (click)="editProjectRerequest(request)"> <i
                                                    class="fas fa-pencil-alt"></i>Edit</button>
                                            <button *ngIf="permission.isGranted(PmManager_ResourceRequest_Delete)" [disabled]="requestProcess" class="btn btn-sm bg-danger ml-1" (click)="removeProjectRerequest(request)"> <i
                                                    class="fas fa-trash"></i>delete</button>


                                        </div>
                                        <div *ngIf="request.createMode" class="pt-2">
                                            <button [disabled]="!request?.name || !request?.timeNeed " class=" mr-3 submit-btn" style="background: none; border: none;" (click)="saveProjectRerequest(request)">
                                                <i style="color: green;" class="fas fa-check fa-2x "></i>
                                            </button>

                                            <i style="color: red;" class="fas fa-times fa-2x" (click)="cancelProjectRerequest()"></i>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <pagination-controls autoHide="true" id="projecRequest" (pageChange)="resourceRequestCurrentPage = $event">
                </pagination-controls>
            </mat-expansion-panel>
            <mat-expansion-panel>

            </mat-expansion-panel>

        </div>
    </div>
    <!-- </form> -->
</section>