<div class="card-header p-0">
    <h4 [innerHTML]="title">
    </h4>
</div>
<div class="card-body mt-2">
    <div class="form-group row required">
        <div class="col-3">
            <label for="releaseDate" class="mt-2">{{user.allocatePercentage > 0 ? 'Join date:' : 'Release date:' }} </label>
        </div>
        <div class="col-9">
            <mat-form-field appearance="outline" style="width: 200px;">
                <input matInput [matDatepicker]="picker" placeholder="chose a date *" required [(ngModel)]="startDate" #startTime="ngModel" name="releaseDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row required" *ngIf="user.allocatePercentage > 0">
        <label class="col-md-3 col-form-label" for="tenancyName">
            Role:
        </label>
        <div class="col-md-9">
            <mat-form-field appearance="outline" *ngIf="user.allocatePercentage > 0">
                <mat-select [(ngModel)]="user.projectRole" name="projectRole" placeholder="select a role" required #projectRole="ngModel">
                    <mat-option *ngFor="let role of projectRoleList" [value]="APP_ENUM.ProjectUserRole[role]">
                        {{role}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group row required" *ngIf="user.allocatePercentage > 0">
        <label class="col-md-3 col-form-label" for="allocatePercentage">
            Work type:
        </label>
        <div class="col-md-9">
            <mat-radio-group [(ngModel)]="user.isPool" aria-label="Select an option" name="allocatePercentage">
                <mat-radio-button class="mt-2 mr-3" [value]="false">Offical</mat-radio-button>
                <mat-radio-button [value]="true">Tempt</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary mr-2" mat-dialog-close="">
            Cancel
        </button>
        <button class="btn btn-primary" (click)="confirm()">
            Confirm
        </button>
    </div>
</div>