
<div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Thông tin chung</h3>
                    </div>
                    <div class="col-6 text-right ">
                        <a  class="btn bg-primary  mt-3" [hidden]="!readMode"  (click)="editRequest()">
                            <i class="fas fa-edit"></i>
                            Edit
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="card-body table-responsive p-4">
                <form class="form-horizontal" autocomplete="off" #requestDetail="ngForm">
                    <div class="form-group row detail ">
                        <label class="col-md-2 col-form-label" for="requestName">
                           Dự án:
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " name="requestName" [readonly]="readMode"
                            [ngClass]="readMode==true?'read-mode':''" maxlength="1024" minlength="2"
                             />
                
                        </div>
                    </div>
                    <div class="form-group row detail ">
                        <label class="col-md-2 col-form-label" for="requestName">
                           Loại dự án:
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " name="requestName" [readonly]="readMode"
                            [ngClass]="readMode==true?'read-mode':''" maxlength="1024" minlength="2"
                             />
                        </div>
                    </div>
                    <div class="form-group row detail ">
                        <label class="col-md-2 col-form-label" for="requestName">
                           Trạng thái:
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " name="requestName" [readonly]="readMode"
                            [ngClass]="readMode==true?'read-mode':''" maxlength="1024" minlength="2"
                             />
                        </div>
                    </div>
                    <div class="form-group row detail ">
                        <label class="col-md-2 col-form-label" for="requestName">
                            Khách hàng:
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " name="requestName" [readonly]="readMode"
                            [ngClass]="readMode==true?'read-mode':''" maxlength="1024" minlength="2"
                             />
                
                        </div>
                    </div>
                    <div class="form-group row detail ">
                        <label class="col-md-2 col-form-label" for="requestName">
                            Vẫn Charge Khách hàng:
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " name="requestName" [readonly]="readMode"
                            [ngClass]="readMode==true?'read-mode':''" maxlength="1024" minlength="2"
                             />
                        </div>
                    </div>
                    <div class="form-group row detail ">
                        <label class="col-md-2 col-form-label" for="requestName">
                            Thời gian bắt đầu:
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " name="requestName" [readonly]="readMode"
                            [ngClass]="readMode==true?'read-mode':''" maxlength="1024" minlength="2"
                             />
                        </div>
                    </div>
                    <div class="form-group row detail ">
                        <label class="col-md-2 col-form-label" for="requestName">
                            Thời gian kết thúc:
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control " name="requestName" [readonly]="readMode"
                            [ngClass]="readMode==true?'read-mode':''" maxlength="1024" minlength="2"
                             />
                        </div>
                    </div>
                    <div class="form-group row" [hidden]="readMode">
                        <div class="form-group row d-flex justify-content-between">
                            <button class="btn btn-default mx-2">
                                Cancel
                            </button>
                            <button class="btn btn-primary" [disabled]="!requestDetail.valid ">
                                Save
                            </button>
                        </div>
                    </div>
                    
                   
                </form>

            </div>





