<form
  class="form-horizontal"
  autocomplete="off"
  #timesheetDetailForm="ngForm"
  novalidate
>
  <abp-modal-header
    title="{{data.action == updateAction.UpdateBillInfo ? 'Update Bill Info:' : 'Update Timesheet:'}} {{ data.billInfo.projectName }}"
    (onCloseClick)="dialogRef.close()"
  >
  </abp-modal-header>
  <div class="modal-body row" id="modal-bill-info">
    <div class="col-11 row mb-1">
      <!-- <button
        class="btn btn-create-neutral ml-2"
        [disabled]="isEdittingRows"
        *ngIf="!isEdit && permission.isGranted(Timesheets_TimesheetDetail_UpdateBill_Create)"
        (click)="create()"
        [disabled]="this.data.isComplete"
      >
        <i class="fa fa-plus-square mr-1"></i>Create
      </button> -->
      <button
        class="btn btn-editall-neutral ml-2"
        *ngIf="!isEdittingRows && billDetail.length && !isEdit && (permission.isGranted(Timesheets_TimesheetDetail_UpdateBill)
        || Timesheets_TimesheetDetail_UpdateTimsheet)"
        (click)="editMultiRows()"
        [disabled]="data.billInfo.isComplete"
      >
        <i class="fas fa-pencil-alt mr-1"></i>Edit All
      </button>
      <div *ngIf="isEdittingRows" class="pt-1 ml-4">
        <button *ngIf="data.action == updateAction.UpdateTimesheet"
          [disabled]="!timesheetDetailForm.valid"
          class="mr-3 submit-btn"
          style="background: none; border: none"
          (click)="saveAllUpdateTS()"
        >
          <i style="color: green" class="fas fa-check fa-2x"></i>
        </button>
        <button
        *ngIf="data.action == updateAction.UpdateBillInfo"
          [disabled]="!timesheetDetailForm.valid"
          class="mr-3 submit-btn"
          style="background: none; border: none"
          (click)="saveUserBills()"
        >
          <i style="color: green" class="fas fa-check fa-2x"></i>
        </button>
        <i
          style="color: red"
          class="fas fa-times fa-2x"
          (click)="cancelUserBill()"
        ></i>
      </div>
    </div>
    <section class="example-section col-1 text-center" *ngIf="permission.isGranted(Timesheets_TimesheetDetail_UpdateBill_SetDone)">
      <mat-checkbox id="done"
        class="example-margin"
        (change)="isComplete($event)"
        [disabled]="isEdittingRows || isEdit"
        [checked]="data.billInfo.isComplete"
        >Done</mat-checkbox
      >
    </section>
    <div class="table-responsive mb-1 p-2">
      <div class="fixTableHead">
        <table
          style="border-collapse: collapse"
          class="table table-hover text-nowrap"
        >
          <thead class="bg-light">
            <tr>
              <th class="stt">#</th>
              <th style="width: 350px;">Employee</th>
              <th style="width: 150px;" *ngIf="data.action == updateAction.UpdateBillInfo">Charge Role</th>
              <th
                style="width: 150px;"
                *ngIf="
                  permission.isGranted(
                    Timesheets_TimesheetDetail_ViewBillRate
                  ) && data.action == updateAction.UpdateBillInfo
                "
              >
                Rate <br> {{getTitleRate()}}
              </th>
              <th style="width: 100px; white-space: break-spaces;">Working Day</th>
              <th style="width: 50px;">Is Charge</th>
              <th>Note</th>
              <th>Action</th>
            </tr>
          </thead>
          <h5 *ngIf="billDetail.length == 0" class="text-center mt-2">
            No data!
          </h5>
          <tbody *ngIf="billDetail.length > 0">
            <tr *ngFor="let bill of billDetail; let i = index">
              <td>
                <span>{{ i + 1 }}</span>
              </td>
              <td class="text-left" style="min-width: 200px">
                  <app-user-info
                    [userData]="{
                      fullName: bill.fullName,
                      branch: bill.branch,
                      branchColor:bill.branchColor,
                      branchDisplayName:bill.branchDisplayName,
                      userType: bill.userType,
                      emailAddress: bill.emailAddress,
                      avatarFullPath: bill.avatarFullPath,
                      userLevel: bill.userLevel
                    }"
                  >
                  </app-user-info>
              </td>
              <td class="text-center" *ngIf="data.action == updateAction.UpdateBillInfo">
                <span *ngIf="!bill.createMode && !isEdittingRows">{{
                  bill.billRole
                }}</span>
                <div *ngIf="(bill.createMode || isEdittingRows) ">
                  <input
                    style="min-width: 110px"
                    required
                    class="form-control mt-1"
                    #billRole="ngModel"
                    #billRoleEl
                    type="text"
                    placeholder="Charge role"
                    [name]="i + 'billRole'"
                    [(ngModel)]="bill.billRole"
                  />

                  <abp-validation-summary
                    [control]="billRole"
                    [controlEl]="billRoleEl"
                  >
                  </abp-validation-summary>
                </div>
              </td>
              <td
                class="text-center"
                *ngIf="
                  permission.isGranted(
                    Timesheets_TimesheetDetail_ViewBillRate
                  ) && data.action == updateAction.UpdateBillInfo
                "
              >
                <span *ngIf="!bill.createMode && !isEdittingRows"
                  >{{ bill.billRate | number: "1.0":"en-US" }}
                </span>
                <div *ngIf="bill.createMode || isEdittingRows">
                  <input
                    style="min-width: 110px"
                    required
                    class="form-control mt-1"
                    [name]="i + 'billrate'"
                    #billRate="ngModel"
                    #billRateEl
                    type="text"
                    mask="separator"
                    thousandSeparator="."
                    placeholder="number"
                    [(ngModel)]="bill.billRate"
                  />
                  <abp-validation-summary
                    [control]="billRate"
                    [controlEl]="billRateEl"
                  >
                  </abp-validation-summary>
                </div>
              </td>
              <td class="text-center">
                <span *ngIf="!bill.createMode && !isEdittingRows">
                  {{ bill.workingTime }}
                </span>
                <div *ngIf="bill.createMode || isEdittingRows">
                  <input
                    type="number"
                    billrate
                    [name]="i + 'workTime'"
                    id=""
                    class="form-control mt-1"
                    [(ngModel)]="bill.workingTime"
                  />
                </div>
              </td>
             
              <td class="text-center pt-3">
                <mat-checkbox
                  [disabled]="!bill.createMode && !isEdittingRows"
                  [ngClass]="{'bg-succes': bill.isActive}"
                  class="mt-1"
                  name="isactive+{{ i }}"
                  (change)="onActiveChange(active, bill)"
                  #active
                  [checked]="bill.isActive"
                >
                </mat-checkbox>
              </td>

              <td>
                <pre
                  class="mb-0 p-0 ml-2"
                  *ngIf="!bill.createMode && !isEdittingRows"
                  style="
                    white-space: pre-line;
                    word-wrap: break-word;
                    font-family: sans-serif;
                    align-self: flex-start;
                    width: 150px;
                  "
                >
                           {{ bill.note }}
                      </pre
                >
                <div *ngIf="bill.createMode || isEdittingRows">
                  <textarea
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    rows="2"
                    style="min-width: 150px"
                    class="form-control mt-1"
                    #billRole="ngModel"
                    placeholder="Note"
                    [name]="i + 'billNote'"
                    [(ngModel)]="bill.note"
                  ></textarea>
                </div>
              </td>
              <td class="text-center">
                <div *ngIf="!bill.createMode">
                  <button *ngIf="permission.isGranted(Timesheets_TimesheetDetail_UpdateBill) || permission.isGranted(Timesheets_TimesheetDetail_UpdateTimsheet)"
                    [disabled]="
                      userBillProcess ||
                      isEdit ||
                      data.billInfo.isComplete ||
                      isEdittingRows
                    "
                    class="btn btn-sm btn-edit-neutral mr-1 mt-3"
                    (click)="editUserBill(bill)"
                  >
                    <i class="fas fa-pencil-alt mr-1"></i>Edit
                  </button>
                  <button style="border:2px soild #dc3545;" *ngIf="permission.isGranted(Timesheets_TimesheetDetail_RemoveAccount)"
                    [disabled]="
                      userBillProcess ||
                      isEdit ||
                      data.billInfo.isComplete ||
                      isEdittingRows
                    "
                    class="btn btn-sm bg-danger ml-1 mt-3"
                    (click)="removeAccountTS(bill)"
                  >
                  <i class="fas fa-trash"></i> Remove
                  </button>
                </div>
                <div *ngIf="bill.createMode" class="pt-1 mt-1">
                  <button
                  *ngIf="data.action == updateAction.UpdateBillInfo"
                    [disabled]="!bill?.userId || !timesheetDetailForm.valid"
                    class="mr-3 submit-btn"
                    style="background: none; border: none"
                    (click)="saveUserBill(bill)"
                  >
                    <i style="color: green" class="fas fa-check fa-2x"></i>
                  </button>
                  <button
                    *ngIf="data.action == updateAction.UpdateTimesheet"
                    [disabled]="!bill?.userId || !timesheetDetailForm.valid"
                    class="mr-3 submit-btn"
                    style="background: none; border: none"
                    (click)="saveUpdateTS(bill)"
                  >
                    <i style="color: green" class="fas fa-check fa-2x"></i>
                  </button>
                  <i
                    style="color: red"
                    class="fas fa-times fa-2x"
                    (click)="cancelUserBill()"
                  ></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
