<form class="form-horizontal" autocomplete="off" #bankForm="ngForm">
    <div class="card-header">
        <h3>{{'Thêm mới' | localize}}</h3>
        <!-- <h3 *ngIf="isEdit">{{'m3_child3.editTitle' | translate}} </h3> -->
    </div>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="accountTypeName">
                {{ 'name' | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="accountTypeName" id="accountTypeName" minlength="2" maxlength="64"
                    required [(ngModel)]="checklist" #accountTypeNameModel="ngModel" #accountTypeNameEl />
                <abp-validation-summary [control]="accountTypeNameModel" [controlEl]="accountTypeNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="accountTypeName">
                {{ 'Description' | localize }}
            </label>
            <div class="col-md-9">
                <textarea type="text" class="form-control" name="accountTypeName" id="accountTypeName" minlength="2" maxlength="64"
                    required [(ngModel)]="checklist" #accountTypeNameModel="ngModel" #accountTypeNameEl></textarea>
                <abp-validation-summary [control]="accountTypeNameModel" [controlEl]="accountTypeNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="accountTypeName">
                {{ 'Title' | localize }}
            </label>
            <div class="col-md-9">
                <textarea type="text" class="form-control" name="accountTypeName" id="accountTypeName" minlength="2" maxlength="64"
                    required [(ngModel)]="checklist" #accountTypeNameModel="ngModel" #accountTypeNameEl></textarea>
                <abp-validation-summary [control]="accountTypeNameModel" [controlEl]="accountTypeNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="accountTypeName">
                {{ 'Mandatory' | localize }}
            </label>
            <div class="col-md-9">
                <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="accountTypeName">
                {{ 'Audit Target' | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="accountTypeName" id="accountTypeName" minlength="2" maxlength="64"
                    required [(ngModel)]="checklist" #accountTypeNameModel="ngModel" #accountTypeNameEl />
                <abp-validation-summary [control]="accountTypeNameModel" [controlEl]="accountTypeNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="accountTypeName">
                {{ 'Person In Charge' | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="accountTypeName" id="accountTypeName" minlength="2" maxlength="64"
                    required [(ngModel)]="checklist" #accountTypeNameModel="ngModel" #accountTypeNameEl />
                <abp-validation-summary [control]="accountTypeNameModel" [controlEl]="accountTypeNameEl">
                </abp-validation-summary>
            </div>
        </div>
    </div>
    <div style="background-color: white;" align="end" class="mat-dialog-actions card-footer" mat-dialog-actions="">
        <button class="btn btn-default cancel-banks" mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" class="saving-btn"mat-button 
        [disabled]="!bankForm.form.valid">Save</button>
    </div>
</form>