<section class="content px-2 pt-2">
    <div class="container-fluid">
        <div class="row mb-4 card">
            <div class="col-12">
                <nav mat-tab-nav-bar style="">
                    <a [ngClass]="currentUrl.includes('pool')?'active':''"  mat-tab-link (click)="routingPlanResourceTab()">
                       Pool
                    </a>
                    <a [ngClass]="currentUrl.includes('all-resource')?'active':''"  mat-tab-link (click)="routingAllResourceTab()">
                        All Resource
                    </a>
                    <a [ngClass]="currentUrl.includes('future-resource')?'active':''"  mat-tab-link (click)="routingFutureResourceTab()">
                        Future Resource
                    </a>
                </nav>
                <router-outlet></router-outlet>
            </div>


        </div>
    </div>
</section>
